<div class="jumbotron">
	<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
	<table ng-show="contatos.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
			<!--<th>Data</th>-->
			<th></th>
		</tr>
		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td><input type="checkbox" ng-model="contato.selecionado"/></td>
			<td>{{contato.nome | name}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora}}</td>
			<!--<td>{{contato.data | date:'dd/MM/yyyy'}}</td>-->
			<td><a class="btn btn-link" ng-click="openModal(contato)"><i class="fas fa-user-edit fa-lg"></i></a></td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#!/novoContato">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
</div>

